pkgbase = docker-slim-bin
	pkgdesc = Don't change anything in your Docker container image and minify it by up to 30x (and for compiled languages even more) making it secure too! (free and open source)
	pkgver = 1.39.1
	pkgrel = 1
	url = https://github.com/docker-slim/docker-slim
	arch = x86_64
	arch = aarch64
	license = Apache
	provides = docker-slim
	provides = docker-slim-sensor
	conflicts = docker-slim
	source_x86_64 = docker-slim-1.39.1.tar.gz::https://downloads.dockerslim.com/releases/1.39.1/dist_linux.tar.gz
	sha512sums_x86_64 = 9fa2f627d755db3d09c9eb25f1df280e871053fea7fe226f8ae07aee62f45e43cab28ed6b001e85f9058dfc31317c658a451fd3e299c6a354e890edaca0c7ee5
	source_aarch64 = docker-slim-1.39.1.tar.gz::https://downloads.dockerslim.com/releases/1.39.1/dist_linux_arm64.tar.gz
	sha512sums_aarch64 = 9fa2f627d755db3d09c9eb25f1df280e871053fea7fe226f8ae07aee62f45e43cab28ed6b001e85f9058dfc31317c658a451fd3e299c6a354e890edaca0c7ee5

pkgname = docker-slim-bin
