pkgbase = docker-slim-bin
	pkgdesc = Don't change anything in your Docker container image and minify it by up to 30x (and for compiled languages even more) making it secure too! (free and open source)
	pkgver = 1.39.0
	pkgrel = 1
	url = https://github.com/docker-slim/docker-slim
	arch = x86_64
	arch = aarch64
	license = Apache
	provides = docker-slim
	provides = docker-slim-sensor
	conflicts = docker-slim
	source_x86_64 = docker-slim-1.39.0.tar.gz::https://downloads.dockerslim.com/releases/1.39.0/dist_linux.tar.gz
	sha512sums_x86_64 = 7f44f6d67631a77acb82e3e29d53a6ad0e30e22dc24dd4cdbd93824ea25c822b11410e41f5e5065d506242512598e7ed0a241aa6dd7ab3b12d60fc3e65a39b8a
	source_aarch64 = docker-slim-1.39.0.tar.gz::https://downloads.dockerslim.com/releases/1.39.0/dist_linux_arm64.tar.gz
	sha512sums_aarch64 = 7f44f6d67631a77acb82e3e29d53a6ad0e30e22dc24dd4cdbd93824ea25c822b11410e41f5e5065d506242512598e7ed0a241aa6dd7ab3b12d60fc3e65a39b8a

pkgname = docker-slim-bin
