pkgbase = plenti-bin
	pkgdesc = Static Site Generator with Go backend and Svelte frontend
	pkgver = 0.6.3
	pkgrel = 1
	url = https://github.com/plentico/plenti
	arch = x86_64
	license = APACHE
	provides = plenti
	conflicts = plenti
	source = plenti-0.6.3.tar.gz::https://github.com/plentico/plenti/releases/download/v0.6.3/plenti_0.6.3_Linux_64-bit.tar.gz
	sha512sums = 07d15a0b997993c5f497bd220420605fe27f512937c833860fc7b39252aa657290042429130a3b42f350d028d5168bd3e249e71e16354bfaf4a0a87e2abe37a6

pkgname = plenti-bin
