pkgbase = plenti-bin
	pkgdesc = Static Site Generator with Go backend and Svelte frontend
	pkgver = 0.5.19
	pkgrel = 1
	url = https://github.com/plentico/plenti
	arch = x86_64
	license = APACHE
	provides = plenti
	conflicts = plenti
	source = plenti-0.5.19.tar.gz::https://github.com/plentico/plenti/releases/download/v0.5.19/plenti_0.5.19_Linux_64-bit.tar.gz
	sha512sums = c4842929e68b224964d4f91182a0a57e5aa645d51d45c295671156b8f0436d70ef3c53e88c3e935730ed92e5bddf07028fecaaad1d585c2d7a6a0e59152bc408

pkgname = plenti-bin
